.blue-box{
    cursor: pointer;
    display: flex;
    background-color:rgb(30, 122, 242);
    border: 2px solid rgb(38, 153, 251);
    height: 5rem;
    width: 100%;
    padding: 1rem 1.3rem;
    border-radius: 4rem;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.blue-text{ 
    color: white;;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.blue-box img{
    position: absolute;
    left: 2.7rem;
    padding: 4px;
    height: 50px;
    width: 50px;
    fill: rgb(255 ,255 ,255);
}