.btn{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(40, 133, 214);
    border-radius: 4rem;
    border: none;
    outline: none;
    margin-bottom: 3rem;
    height: 8rem;
    cursor: pointer;
}